.reveal pre {
	width: 100%;
}

.reveal pre code {
	max-height: 600px;
}

table {
	color: var(--r-main-color);
}

.moon-span {
	color: #268bd2;
}

.accentued-1 {
	color: var(--r-background-color);
	background-color: var(--r-main-color);
}

.accentued-2 {
	color: var(--r-heading-color);
}

.reveal iframe {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	border: none;
}